<header>
        <nav role="navigation" class="nav">
                <div id="menuToggle">
                  <input type="checkbox" />
                  <span></span>
                  <span></span>
                  <span></span>
                  <ul id="menu">
                    <div class="topR">
                      <a ui-sref="appli.home" class="no_bc">
                        <img src="../img/home.svg" alt="home"
                      /></a>
                    </div>
                    <a ui-sref="appli.communication"><li>Communication</li></a>
                    <a ui-sref="appli.design"><li>Design</li></a>
                    <a ui-sref="appli.developpement"><li>Développement</li></a>
                    <a ui-sref="appli.about"><li>À propos</li></a>
                    <p>Conçue et développée par Anaël RODET et Léo BLONDIN</p>
                    <p></p>
                  </ul>
                </div>
              </nav>
    <h1 class="title_white">Département MMI</h1>
</header>
<div class="soushead">
    <div class="first_aria full"><p>À propos</p></div>
    <div class="scnd_aria unactive"></div>
</div>
<main class="about">
    <p>Cette application a été développé dans le cadre du projet de S4 en spé Dev du département MMI de Montbéliard.</p>
    <p>Elle regroupe des ressources pédagogiques à destination des étudiants en première année pour qu'ils puissent
        bénéficier d'un bagage supplémentaire en Communication / Développement / Design.</p>
    <p>Si vous rencontrez un bug ou une ressource inaccessible signalez le à <a href="mailto:mmiapp@anael-rodet.fr">mmiapp@anael-rodet.fr</a>
    </p>
    <p>Application conçue et développer en Mars 2019, si vous souhaiter la mettre à jour les fichiers sont disponibles
        sur le <a href="https://github.com/AnaelR/WelcomeToMMI/tree/master">Git suivant (GitHub).</a></p>
    <p>Développer et conçue par :</p>
    <p>Anaël RODET & Léo BLONDIN (2019)
        <a href="https://www.anael-rodet.fr">anael-rodet.fr</a> -- <a href="http://www.leoblondin.com">leoblondin.com</a></p>
    <p>Maintenance :</p>
</main>

