<header>

    <h1 class="title_white">Département MMI</h1>
</header>
<div class="soushead">
    <div class="first_aria"><p>À propos</p></div>
    <div class="scnd_aria"></div>
</div>
<main class="about">
    <p>Cette application a été développé dans le cadre du projet de S4 en spé Dev du département MMI de Montbéliard.</p>
    <p>Elle regroupe des ressources pédagogiques à destination des étudiants en première année pour qu'ils puissent
        bénéficier d'un bagage supplémentaire en Communication / Développement / Design.</p>
    <p>Si vous rencontrez un bug ou une ressource inaccessible signalez le à <a href="mailto:mmiapp@anael-rodet.fr">mmiapp@anael-rodet.fr</a>
    </p>
    <p>Application conçue et développer en Mars 2019, si vous souhaiter la mettre à jour les fichiers sont disponibles
        sur le <a href="https://github.com/AnaelR/WelcomeToMMI/tree/master">Git suivant (GitHub).</a></p>
    <p>Développer et conçue par :</p>
    <p>Anaël RODET & Léo BLONDIN (2019)
        <a href="www.anael-rodet.fr">anael-rodet.fr</a> -- <a href="www.leoblondin.com">leoblondin.com</a></p>
    <p>Maintenance :</p>
</main>

