<div class="centre">
    <img src="../img/logo_mmi.svg" alt="Logo MMI Montbéliard" class="logo">
</div>
<div class="centre">
    <h1 class="title">Bienvenue au MMI Montbéliard</h1>
    <p class="subti">L'application pour bien débuter son année.</p>
</div>
<div class="centre">
    <div class="triangle centre">
        <h2 class="subhead">?</h2>
    </div>
</div>
<div class="centre square"><a ng-href="#">
    <div class="block_picto">
        <img src="../img/monitor.svg" alt="Développement" class="picto"></div>
</a></div>
<div class="align">
    <div class="left centre"><a ng-href="#">
        <div class="block_picto">
            <img src="../img/chat.svg" alt="Communication" class="picto"></div>
    </a></div>
    <div class="right centre"><a ng-href="#">
        <div class="block_picto">
            <img src="../img/paint-brush.svg" alt="Design" class="picto"></div>
    </a></div>
</div>
