<header>

    <h1 class="title_white">Département MMI</h1>
</header>
<div class="soushead">
    <div class="first_aria"><p>Design</p></div>
    <div class="scnd_aria active"><p>Veille</p></div>
</div>
<main>
    <div class="centre">
        <h1 class="title">Les frameworks css ?</h1>
        <p>Les frameworks CSS sont des outils qui permettent de faire la mise en page de sites plus rapidement qu'avec
            du CSS natif.</p>
        <p>Ce sont des feuilles de styles qui incluent déjà des classes permettant de gérer le responsive de la page,
            d'organiser les éléments en lignes et colonnes etc...</p>
        <p>Le plus connu et plus utilisé est Bootstrap mais il en existe bien d'autres plus ou moins complets, adaptés
            aux besoins de chaque projet.
        </p>
        <p>Pour en savoir plus consultez la documentation du framework en question.</p>
    </div>
    <div class="info" ui-sref="appli.design">
        <img src="../img/return.svg" alt="info">
    </div>
</main>