<header>
  <h1 class="title_white">Département MMI</h1>
</header>
<div class="soushead">
  <div class="first_aria">
    <p>{{}}</p>
  </div>
  <div class="scnd_aria active">
    <p>{{}}</p>
  </div>
</div>
<main>
  <div class="centre">
    <div ng-repeat="enfant in liste" class="item">
        <a href="{{ enfant.excerpt.rendered }}" target="blank"></a>
      <button class="sticker">
          {{ enfant.title.rendered }}
      </button></a>
    </div>
  </div>
  <div class="info" ui-sref="appli.infoDesign">
    <img src="../img/info.svg" alt="info" />
  </div>
</main>
