<header>
  <h1 class="title_white">Département MMI</h1>
</header>
<div class="soushead">
  <div class="scnd_aria active">
    <p>{{ categorie.name }}</p>
  </div>
</div>
<ion-scroll class="list" direction="y">
  <main>
    <div class="ligne" ng-repeat="enfant in liste">
      <a href="{{ enfant.excerpt.rendered }}" target="blank">
        <button class="sticker">
          {{ enfant.title.rendered }}
        </button></a
      >
    </div>
    <div class="info" ui-sref="appli.info({id: categorie.id})">
      <img src="../img/info.svg" alt="info" />
    </div>
  </main>
</ion-scroll>
