<header>
    <nav role="navigation" class="nav">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <div class="topR">
              <a ui-sref="appli.home" class="no_bc">
                <img src="../img/home.svg" alt="home"
              /></a>
            </div>
            <a ui-sref="appli.communication"><li>Communication</li></a>
            <a ui-sref="appli.design"><li>Design</li></a>
            <a ui-sref="appli.developpement"><li>Développement</li></a>
            <a ui-sref="appli.about"><li>À propos</li></a>
            <p>Conçue et développée par Anaël RODET et Léo BLONDIN</p>
            <p></p>
          </ul>
        </div>
      </nav>
  <h1 class="title_white">Département MMI</h1>
</header>
<div class="soushead">
  <div class="scnd_aria active full">
    <p>{{ categorie.name }}</p>
  </div>
</div>
<div class="info" ui-sref="appli.info({id: categorie.id})">
    <img src="../img/info.svg" alt="info" />
  </div>
<ion-scroll class="list" direction="y">
  <main>
    <div class="ligne">
    <div class="content" ng-repeat="enfant in liste">
      <a href="{{ enfant.excerpt.rendered }}" target="blank">
        <button class="sticker">
          {{ enfant.title.rendered }}
        </button></a
      >
    </div>
    </div>
  </main>
</ion-scroll>
