/* Empty. Add your own CSS if you like */

.pane{
    background-color: #E2E2E2;
}
.centre{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.logo{
    width: 110px;
    height: 110px;
}
.title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #0C2C55;
    text-align: center;
    width: 70%;
    margin: 20px 0;
}
.subti{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #0C2C55;
    text-align: center;
    width: 70%;
    margin: 20px 0;
}
.subhead {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: #FFF;
    text-decoration: none;
}
.home>.ligne>.square a {
    width: 92px;
    height: 73px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #FFF;
    text-decoration: none;
}
.square img{
    width: 80%;
    height: auto;
}
.align{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.square{
    background-color: #0C2C55;
    width: 50vw;
    height: 25vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border:4px solid #E62450;
}
.down{
    position: absolute;
    bottom: 0;
}


header{
    background-color: #0C2C55;
    width: 100%;
    border-bottom: 4px solid #E62450;
}
.title_white{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 15px;
}
.soushead{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
}
.first_aria{
    grid-column: 1/3;
    background-color: #0C2C55;
    height: 35px;
}
.first_aria p{
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}
.carte{
    width: 90%;
    height: 70px;
    text-align: center;
    color: #FFFFFF;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    border: none;
    background-color: #0C2C55;
    margin: 8px 0;
}
.active{
    display: initial;
}
.unactive{
    display: none;
}
.scnd_aria{
    grid-column: 3/5;
    background-color: #E62450;
    height: 35px;
}
.scnd_aria p{
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}

.sticker{
    background-color: #E62450;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    border: none;
    color: #FFF;
    margin: 10px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}
.ligne a{
    width: 45%;
    height: 135px;
    text-align: center;
}
.info{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 75px;
    height: 85px;
}
main>.centre p{
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #1A1A1A;
    margin: 0 15px;
}
.ligne{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
/* menu */


.nav{
    height: 0;
}
.topR{
    width: 44px;
    height: auto;
    position: absolute;
    top:40px;
    right: 40px;
}
.topR img{
    width: 44px;
    height: auto;
}
.topR>a{
    background-color: #0C2C55;
}

nav a
{
display: flex;
justify-content: space-around;
align-items: center;
font-size: 1.5em;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
text-decoration: none;
background-color: #E62450;
color: #FFF;
width: 100%;
height: 90px;
text-align: center;
}
nav p {
    color: #FFF; 
    font-size: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 5px;
    width: 223px;
    position: absolute;
    bottom: 50px;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 15px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 32px;
  height: 22px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #FFF;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #FFF;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 115vw;
  margin: -100px 0 0 -50px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 300px;
    height: 110vh;
  padding-top: 125px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background: #0C2C55;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 2em;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}